{% extends 'base.html.twig' %}

{% block title %}
todo: afficher le titre de la serie | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>titre de la serie</h2>

    {# afficher ttes les infos #}
{% endblock %}

