<nav>
    <ul>
        <li><a href="{{ path('app_home') }}" title="Home page">Home</a></li>
        <li><a href="{{ path('app_serie_list') }}" title="All Series">All series !</a></li>
        <li><a href="{{ path('app_serie_create') }}" title="Create a new serie">Create a new serie</a></li>
        <li><a href="{{ path('app_season_create') }}" title="Create a new season">Create a new season</a></li>
    </ul>
</nav>